.col-1 {
  position: absolute;
  left: 0px;
}
.col-2 {
  position: absolute;
  left: 120px;
}
.col-3 {
  position: absolute;
  left: 240px;
}
.col-4 {
  position: absolute;
  left: 360px;
}
.col-5 {
  position: absolute;
  left: 480px;
}
.col-6 {
  position: absolute;
  left: 600px;
}
.col-7 {
  position: absolute;
  left: 720px;
}
.col-8 {
  position: absolute;
  left: 840px;
}
.col-9 {
  position: absolute;
  left: 960px;
}
.col-10 {
  position: absolute;
  left: 1080px;
}
.col-11 {
  position: absolute;
  left: 1200px;
}
.col-12 {
  position: absolute;
  left: 1320px;
}
.col-13 {
  position: absolute;
  left: 1440px;
}
.col-14 {
  position: absolute;
  left: 1560px;
}
.col-15 {
  position: absolute;
  left: 1680px;
}
.col-16 {
  position: absolute;
  left: 1800px;
}
.row-1 {
  position: absolute;
  left: 0px;
}
.row-2 {
  position: absolute;
  left: 160px;
}
.row-3 {
  position: absolute;
  left: 320px;
}
.row-4 {
  position: absolute;
  left: 480px;
}
.row-5 {
  position: absolute;
  left: 640px;
}
.row-6 {
  position: absolute;
  left: 800px;
}
.row-7 {
  position: absolute;
  left: 960px;
}
.row-8 {
  position: absolute;
  left: 1120px;
}
.row-9 {
  position: absolute;
  left: 1280px;
}
.row-10 {
  position: absolute;
  left: 1440px;
}
.row-11 {
  position: absolute;
  left: 1600px;
}
.row-12 {
  position: absolute;
  left: 1760px;
}
