.grid > .row-12 {
  position: absolute;
  top: 1320px;
}
.grid > .row-11 {
  position: absolute;
  top: 1200px;
}
.grid > .row-10 {
  position: absolute;
  top: 1080px;
}
.grid > .row-9 {
  position: absolute;
  top: 960px;
}
.grid > .row-8 {
  position: absolute;
  top: 840px;
}
.grid > .row-7 {
  position: absolute;
  top: 720px;
}
.grid > .row-6 {
  position: absolute;
  top: 600px;
}
.grid > .row-5 {
  position: absolute;
  top: 480px;
}
.grid > .row-4 {
  position: absolute;
  top: 360px;
}
.grid > .row-3 {
  position: absolute;
  top: 240px;
}
.grid > .row-2 {
  position: absolute;
  top: 120px;
}
.grid > .row-1 {
  position: absolute;
  top: 0px;
}
.grid > .row-16 {
  position: absolute;
  top: 1800px;
}
.grid > .row-15 {
  position: absolute;
  top: 1680px;
}
.grid > .row-14 {
  position: absolute;
  top: 1560px;
}
.grid > .row-13 {
  position: absolute;
  top: 1440px;
}
.grid > .row-12 {
  position: absolute;
  top: 1320px;
}
.grid > .row-11 {
  position: absolute;
  top: 1200px;
}
.grid > .row-10 {
  position: absolute;
  top: 1080px;
}
.grid > .row-9 {
  position: absolute;
  top: 960px;
}
.grid > .row-8 {
  position: absolute;
  top: 840px;
}
.grid > .row-7 {
  position: absolute;
  top: 720px;
}
.grid > .row-6 {
  position: absolute;
  top: 600px;
}
.grid > .row-5 {
  position: absolute;
  top: 480px;
}
.grid > .row-4 {
  position: absolute;
  top: 360px;
}
.grid > .row-3 {
  position: absolute;
  top: 240px;
}
.grid > .row-2 {
  position: absolute;
  top: 120px;
}
.grid > .row-1 {
  position: absolute;
  top: 0px;
}
